* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	width: 100vw;
	height: 100vh;
	background: rgb(204, 197, 197);
}

.appForm {
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	margin-bottom: 10px;
	padding: 5px;
}

button {
	padding: 5px;
	cursor: pointer;
	margin-bottom: 15px;
}

h1 {
	margin-bottom: 20px;
	color: white;
	text-align: center;
}
